Repository creasico/laravel-dusk-browserstack, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, enhancement, integration, localization

ci: fix reporting issue when the author is dependabot
  .github/workflows/test.yml
Labels: enhancement, integration

chore(release): 0.2.3
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(dev): update vscode settings and extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement

feat(48): adds ability to download browserstack-local binary
  bin/.gitignore
  src/Commands/BrowserStackLocalCommand.php
  src/ServiceProvider.php
Labels: enhancement

feat(48): adds ability to start browserstack-local binary
  src/Commands/BrowserStackLocalCommand.php
  src/Process/BrowserStackLocalProcess.php
  src/SupportsBrowserStack.php
Labels: enhancement

chore(docs): update readme
  README.md
Labels: docs, enhancement

chore: add tests
  .github/workflows/test.yml
  composer.json
  composer.lock
  src/Process/BrowserStackLocalProcess.php
  src/SupportsBrowserStack.php
  testbench.yaml
  tests/Browser/console/.gitignore
  tests/Browser/screenshots/.gitignore
  tests/Browser/source/.gitignore
  tests/BrowserStackLocalTest.php
Labels: enhancement, integration

ci: define project and build name in workflow config
  .github/workflows/test.yml
Labels: enhancement, integration

fix(ci): fix issue when `BROWSERSTACK_PROJECT_NAME` got value from `github.repository`
  src/SupportsBrowserStack.php
Labels: enhancement

test(ci): use built-in github environment instead of manually define project & build name
  .github/workflows/test.yml
  src/SupportsBrowserStack.php
Labels: enhancement, integration

chore(docs): clean up and update docblock
  .github/workflows/test.yml
  src/SupportsBrowserStack.php
Labels: enhancement, integration

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Labels: docs, enhancement

fix: skip test when required env missing
  tests/BrowserStackLocalTest.php
Labels: enhancement, integration

feat: add backward compatibility with phpunit 9
  src/SupportsBrowserStack.php
Labels: enhancement

feat: init support laravel 11
  composer.json
  composer.lock
Labels: enhancement

chore(release): 0.3.1
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore: update tests
  tests/BrowserStackLocalTest.php
  tests/CreateApplication.php
  tests/ServiceProviderTest.php
Labels: enhancement, integration

feat: add dedicated class to handle local binary
  src/LocalBinary.php
Labels: enhancement

refactor: rename `Process/BrowserStackLocalProcess` class to `LocalProcess`
  src/LocalProcess.php
  src/Process/BrowserStackLocalProcess.php
Labels: enhancement

fix: fix issue that causing orphan process when got an error on bs-local process
  src/Commands/BrowserStackLocalCommand.php
  src/SupportsBrowserStack.php
Labels: enhancement

chore: add another composer scripts
  composer.json
Labels: enhancement

fix: fix issue that caused by prematurelly closed bs-local process
  src/LocalProcess.php
Labels: enhancement

chore: update capability options
  src/SupportsBrowserStack.php
Labels: enhancement

chore: autoloading workbench config
  tests/BrowserStackLocalTest.php
  tests/CreateApplication.php
  tests/ServiceProviderTest.php
Labels: enhancement, integration

chore: add workbench directory with example `.env` file
  workbench/.env.example
Labels: enhancement

chore(release): 0.3.2
  CHANGELOG.md
  package.json
Labels: docs, enhancement

refactor: move away binary config to its own class
  src/LocalBinary.php
Labels: enhancement

chore: directly use local binary from its class
  src/LocalProcess.php
Labels: enhancement

feat: add dedicated class to interacts with BrowserStack
  .gitignore
  src/BrowserStack.php
Labels: enhancement

feat: add `WithBrowserStack` as replacement of `SupportsBrowserStack`
  src/SupportsBrowserStack.php
  src/WithBrowserStack.php
  tests/BrowserStackLocalTest.php
Labels: enhancement, integration

chore: patch run message
  src/BrowserStack.php
Labels: enhancement

chore: try adding `BUILD_MATRIX` to the mix
  .github/workflows/test.yml
  src/BrowserStack.php
Labels: enhancement, integration

chore(docs): update readme regarding latest changes
  .gitattributes
  README.md
Labels: docs, enhancement

chore(release): 0.3.3
  CHANGELOG.md
  package.json
Labels: docs, enhancement

fix(ci): fix empty branch name on browserstack
  src/BrowserStack.php
Labels: enhancement

chore(release): 0.3.4
  CHANGELOG.md
  package.json
Labels: docs, enhancement

fix: fix issue regarding browserstack instance
  src/WithBrowserStack.php
Labels: enhancement

chore(release): 0.3.5
  CHANGELOG.md
  package.json
Labels: docs, enhancement

test: try dump bs-local output on ci
  src/LocalProcess.php
Labels: enhancement

fix: fix incomplete error message from browserstack local
  src/LocalProcess.php
Labels: enhancement

.github/labeler.yml:

docs:
- changed-files:
  - any-glob-to-any-file: ['.env.example', '.env.*.example', '**.md']

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'tests/**.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'
