Repository creasico/laravel-dusk-browserstack, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, enhancement, integration, localization

.github/labeler.yml:

docs:
- changed-files:
  - any-glob-to-any-file: ['.env.example', '.env.*.example', '**.md']

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'tests/**.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

chore(deps): bump dependencies version
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(ci): add php `8.3` tests
  .github/workflows/test.yml
Labels: enhancement, integration

chore(release): 0.3.6
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore(ci): update ci config to use workflow from `feryardiant/actions`
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement, integration

chore: fix release workflow repo
  .github/workflows/release.yml
Labels: enhancement, integration

chore(release): 0.3.7
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore: switch back to `projek-xyz/actions` workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement, integration

chore(deps): update dependencies
  composer.lock
Labels: enhancement

feat(test): disable timeout while running tests
  composer.json
Labels: enhancement

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: enhancement

fix: fix missing bash command on github actions
  src/BrowserStack.php
Labels: enhancement

chore(release): 0.3.8
  CHANGELOG.md
  package.json
Labels: docs, enhancement

test: move test report output to `tests/coverage` dir
  phpunit.xml
Labels: enhancement

ci: update workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement, integration

ci: drop codeclimate (#119)
  .github/workflows/release.yml
  .github/workflows/test.yml
  phpunit.xml
Labels: enhancement, integration

chore(deps): update dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: enhancement

ci: fix run number retrieval
  src/BrowserStack.php
Labels: enhancement

ci: fix coveralls flags
  .github/workflows/test.yml
Labels: enhancement, integration

chore: let's make it stricter
  src/BrowserStack.php
  src/Commands/BrowserStackLocalCommand.php
  src/LocalBinary.php
  src/LocalProcess.php
  src/ServiceProvider.php
  src/SupportsBrowserStack.php
  src/WithBrowserStack.php
Labels: enhancement

chore: simplify local process initiation
  src/BrowserStack.php
  src/LocalBinary.php
  src/LocalProcess.php
  src/WithBrowserStack.php
Labels: enhancement

ci: fix run number retrieval (#121)
  .github/workflows/test.yml
  src/BrowserStack.php
  src/Commands/BrowserStackLocalCommand.php
  src/LocalBinary.php
  src/LocalProcess.php
  src/ServiceProvider.php
  src/SupportsBrowserStack.php
  src/WithBrowserStack.php
Labels: enhancement, integration

chore(deps): upgrade dependencies
  .github/workflows/test.yml
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement, integration
